div.Brand{

div.brand_img{
	img{
		margin: 0px 1px 5px 3px;
	}
}
h3.brand_h{
	font-weight: bold;
}
.carousel-control{
		width: 0%;
		right: 4%;
		top: -35px;
	}
	.left{
		left: 95%;
	}
	.right{
		right:30px;
	}
}


