
.fetured_prod{
	padding-right: 0px;

	h3.feature{
		margin: 50px 0px -50px 0px;
		font-weight: bold;
	}

div.Our_prod{

	margin:50px 0px;
	padding-left: 0px;

	.carousel-control{
		width: 0%;
		right: 33px;
		top: -35px;
	}
	.left{
		left: 93%;
	}
	.carousel-inner{
		padding: 0px 9px;
	}
	div.category-products{
		li{
			margin: 4px 5px 0px 2px
		}
		.stars{
			text-align: center;
			img{
				width: inherit;
				}
			}
	}
		
}
}
div.tablet{
	margin: 59px 0px 0px 0px;
	padding: 0px;
	
	.tablet_hichieg{
		
		img{
			width: 92%;
		}	
}	}