.New{
	padding: 0px;
}
div.new_product{

	h3.New{
		font-weight: bold;
		margin:50px 0px -40px 10px;
	}	
	div.New_prod{
	margin:50px 0px 40px 0px;
	padding-left: 0px;

	.carousel-control{
		width: 0%;
		right: 4%;
		top: -35px;
	}
	.left{
		left: 92%;
	}
 }
}
.thumbnail{
	border:none;
}
.new_picture_left{
	margin: 57px 0px 0px 0px;
	padding: 0 10px 0 10px;
	img{
		width: 100%;
	}
}